*{
    background-color: rgb(46, 45, 45);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 4rem;
    border: 5px solid;
    border-color: black;
    background-color: rgb(79, 80, 80);
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.inputContainer{
    max-width: 20%;
    display: flex;
    flex-direction: column;
    transform: translate(200%, 0);
}

.titlemsg{
    margin: 0.3rem;
}

.title {
    border: none;
    border-radius: 5px;
    height: 2rem;
    font-size: large;
    background-color: rgb(79, 80, 80);
}

.descriptionmsg{
    margin: 0.3rem;
}

.description {
    border: none;
    border-radius: 5px;
    margin-bottom: 3rem;
    background-color: rgb(79, 80, 80);
}

textarea{
    resize: none;
}

.editTitle {
    font-size: larger;
    text-align: center;
    border: none;
    background-color: rgb(79, 80, 80);
}

.editDescription {
    text-align: center;
    border: none;
    background-color: rgb(79, 80, 80);
}

button {
    background-color: rgb(79, 80, 80);
    border: none;
    padding: 15px 32px;
    margin: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

.createEvent:active{
    background-color: rgb(46, 50, 47);
}
.reverseCards:active{
    background-color: rgb(46, 50, 47);
}
.titlemsg {
    color: white;
}

.descriptionmsg {
    color: white;
}

img{
    background-color: rgb(79, 80, 80);
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}
img:hover{
    background: rgb(62, 64, 63);
}
img:active{
    background: rgb(122, 126, 123);
}